#interior {
  margin-top: 40px;
  height: 60vh;
  background: radial-gradient(rgba(0, 0, 0, 0.5), black),
    url("./../images/interior.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  p {
    text-align: center;
    max-width: 500px;
    font-size: 22px;
  }
  button {
    background: transparent;
    border: 1px solid white;
    padding: 15px 60px;
    color: white;
    transition: all 0.3s;
    &:hover {
      background: white;
      cursor: pointer;
      color: black;
    }
  }
}
